/* Variables */
:root {
  --primary-color: #4a76ee;
  --text-color: #1a1c20;
  --background-color: #eeeff1;
  --white: #ffffff;
  --gray: #666666;
  --transition: all 0.3s ease;
}

/* Reset and Base Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
}

/* Layout */
section {
  padding: 5rem 5%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 5% 0;
}

header .email-link {
  background-color: var(--text-color);
  color: var(--white);
  padding: 0.2rem 0.6rem;
  border-radius: 5px;
  margin-top: -5px;
  transition: var(--transition);
}

header .email-link img {
  filter: invert(1);
  transition: var(--transition);
}

/* Navigation */
nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

nav a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: var(--text-color);
  gap: 0.5rem;
  font-size: 14px;
  transition: var(--transition);
}

nav img {
  width: 16px;
  height: 16px;
  transition: var(--transition);
}

/* Hero Section */
#hero {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

#hero .profile-picture {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  transition: var(--transition);
}

#hero h1 {
  font-size: 2.25rem;
  display: flex;
  align-items: center;
  gap: 7px;
}

#hero p {
  font-size: 14px;
}

#hero .waving-hand {
  width: 1em;
  height: 1em;
  transition: var(--transition);
}

#hero nav {
  margin-top: 1.25rem;
}

#hero nav ul {
  gap: 0.75rem;
}

#hero nav a {
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
  text-decoration: none;
  padding: 0.2rem 0.4rem;
  border-radius: 5px;
  gap: 0.25rem;
  transition: var(--transition);
}

#hero nav a img {
  filter: invert(47%) sepia(82%) saturate(2384%) hue-rotate(208deg)
    brightness(97%) contrast(91%);
  transition: var(--transition);
}

#hero nav a:hover {
  border-color: var(--text-color);
  color: var(--text-color);
}

#hero nav a:hover img {
  filter: invert(6%) sepia(4%) saturate(1300%) hue-rotate(180deg)
    brightness(95%) contrast(100%);
}

/* Responsive Design */
@media (max-width: 768px) {
  header nav span {
    display: none;
  }

  header .email-link {
    background-color: var(--background-color);
    color: var(--text-color);
  }

  header .email-link img {
    filter: initial;
  }

  #hero {
    flex-direction: column-reverse;
  }

  #hero h1 {
    font-size: 1.75rem;
  }
}
